name: Auto Post Bot
on:
  push:
    branches: [ main ]
  workflow_dispatch:
  schedule:
    # Myanmar Time: 6:00 AM, 12:30 PM, 7:00 PM
    - cron: '30 23,6,12 * * *'

jobs:
  run-bot:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Libraries
        run: pip install pyTelegramBotAPI

      - name: Run Bot Process
        run: python bot.py --post

      - name: Commit and Push Changes
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add database.json
          git commit -m "Update posted history" || echo "No changes"
          git push
